.row, .header {
    height: 12vh;
}


.game-one {
    height: 35vh;
}
.game-two {
    height: 35vh;
}


.cuadro {
    opacity: 0.5;
    transition: opacity 500ms;
}
.red-box {
    background-color: red;
    
}

.blue-box {
    background-color: blue;

}

.green-box {
    background-color: green;

}

.yellow-box {
    background-color: yellow;

}